body{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	background: url("https://i.imgur.com/lZaboG6.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.wrapper h2{
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 500;

}

.wrapper p{
	color: #FFFFFF;

}

.wrapper a{
	color: #037FBE;

}


.wrapper input[type = "text"],.wrapper input[type = "password"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 20px;
	width: 200px;
	outline: none;
	color: #FFFFFF;
	border-radius: 24px;
	transition: 0.25s;
}
.wrapper input[type = "text"]:focus,.wrapper input[type = "password"]:focus{
	width: 280px;
	border-color: #2ecc71;
	
}
.wrapper input[type = "submit"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 30px;
	outline: none;
	color: #FFFFFF;
	border-radius: 24px;
	transition: 0.25s;
    cursor: pointer;
	
}
.wrapper input[type = "submit"]:hover{
	background: #2ecc71;
}
